#page {
	display: block;
	margin: auto;
	width: 90%;
	height: 100%;
	background-color: rgb(30, 30, 30);
	overflow: auto;
}
#profile {
	display: block;
	width: 200px;
	border-radius: 100%;
	margin: auto;
	margin-top: 24px;
}
#titleBar {
	width: 100%;
	margin: auto;
	text-align: center;
}
#name {
	display: inline;
	width: 100%;
	font-family: "Clear-sans";
	color: white;
	font-size: 34px;	
	padding: 0px 50px 20px 50px;
	border-bottom: 2px rgb(255, 0, 0) solid;
}
#name_container {
	display: block;
	margin-top: 20px;
}
.text_container {
	display: inline-block;
	margin-top: 20px;
	width:75%;
	text-align: center;
	line-height: 2.5em;
}
a {
	text-decoration: none;
	color: rgb(255, 30, 30);
}
.text {
	font-family: "Clear-sans";
	color:white;
	font-size: 26px;
}