
img {
	display: block;
	width: 200px;
	border-radius: 100%;
	margin: auto;
	margin-top: 40px;
}

#titleBar {
	width: 100%;
	margin: auto;
	text-align: center;
}

#name {
	display: block;
	width:100%;
	font-family: "Trebuchet MS";
	color:black;
	vertical-align: middle;
	font-size: 40px;
}

.text {
	font-family: "Trebuchet MS";
	color:black;
	font-size: 20px;
}