#projects_container {
    /*width: 100%;*/
    margin: 40px 40px 0px 40px;
    background-color: var(--page-color);
    animation-name: fadeIn;
    animation-duration: 0.5s;
    text-align: center;
}

.project_button {
    display: inline-block;
    position: relative;
    padding: 10px;
    width: 640px;
    height: 360px;
    max-height: 400px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    margin: 10px;
    opacity: 0.0;
}

.platform_button {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px 0px 5px;
}

.platform_image {
    /*max-width: 75px;*/
    max-height: 75px;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.4;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.screen_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    -moz-opacity: 0.2;
    -webkit-opacity: 0.2;

    transition: opacity 0.75s, box-shadow 0.75s;
    -webkit-transition: opacity 0.75s, box-shadow 0.75s;
    -moz-transition: opacity 0.75s, box-shadow 0.75s;
    left: 0px;
    top: 0px;
}

.mockup {
    position: relative;
    z-index: 2;
    opacity: 1.0;
    -moz-opacity: 1.0;
    -webkit-opacity: 1.0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
}

.web,
.desktop {
    width: 100%;
}

.mobile {
    width: 100%;
}

.mobile-vertical {
    height: 100%;
}

.screen {
    opacity: 0.0;
    -moz-opacity: 0.0;
    -webkit-opacity: 0.0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
}

#preview_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#preview_container_text {
    font-size: 20px;
    font-style: italic;
    margin-right: 20px;
}

.screen_preview {
    max-width: 100px;
    max-height: 100px;
    margin: 15px 15px 0px 0px;
    opacity: 0.2;
}

.screen_preview:hover {
    opacity: 1.0;
    -moz-opacity: 100%;
    -webkit-opacity: 100%;
    cursor: pointer;
    cursor: hand;
}

.preview_selected {
    opacity: 1.0;
    -moz-opacity: 100%;
    -webkit-opacity: 100%;
    padding: 1px;
    border: 1px solid black;
}

.hidden {
    opacity: 0.0;
    -moz-opacity: 0%;
    -webkit-opacity: 0%;
}

.screen {}

.hover {
    opacity: 0.40;
    -moz-opacity: 40%;
    -webkit-opacity: 40%;
    cursor: pointer;
    cursor: hand;
    box-shadow: 2px 5px 15px black;
}

.phone_image_wrapper,
.screen {
    max-width: 90%;
    max-height: 70%;
}

.phone_image_wrapper_vertical {
    /*width: 100%;*/
    max-width: 100%;
    /*height: 80%;*/
    max-height: 100%;
    /*display: inline-block;*/
}

.phone {
    max-width: 100%;
    max-height: 100%;
}

.phone_vertical {
    max-width: 100%;
    max-height: 100%;
}

.screen_container {
    position: relative;
}

@keyframes hoverFadeIn {
    from {
        background-color: none;
    }

    to {
        background-color: SlateGray;
    }
}

.name_text {
    font-family: "Clear-sans";
    font-size: 26px;
    color: var(--font-color);
}

.projectButtonText {
    font-family: "Clear-sans";
    font-size: 40px;
    margin-left: 10px;
    color: var(--font-color);
}

.projectButtonTextContainer {
    position: absolute;
    z-index: 2;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#toolsText {
    font-family: "Clear-sans";
    font-size: 19px;
    text-decoration: none;
    /*font-style: italic;

    line-height: 1.5em;
    /*padding: 0px 10px 0px 10px;*/
    white-space: pre-wrap;
    color: var(--font-color);
    clear: both;
}

.projectPanelText {
    font-family: "Clear-sans";
    font-size: 19px;
    line-height: 1.5em;
    white-space: pre-wrap;
    color: var(--font-color);
    clear: both;
}

#display {
    text-align: center;
    background-color: var(--page-color);
    overflow: hidden;
}

#platform_container {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
}

#line {
    width: 100%;
    height: 1px;
    background-color: black;
}

.project_icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    /*float: left;*/
}

#image_container {
    margin-top: 50px;
    display: inline-block;
    width: 50%;
    text-align: center;
    vertical-align: top;
    box-sizing: content-box;
}

#project_panel {
    display: inline-block;
    width: 45%;
    margin-left: 30px;
    overflow: auto;
    margin-top: 10px;
    vertical-align: middle;
    text-align: left;
}

.sliding_right {
    animation: 1s var(--curve) 0s 1 slideRight;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.slideshow_button {
    display: inline-block;
    font-size: 100pt;
}

#attribution {
    margin-top: 30px;
    font-size: 10pt;
}