#page {
	margin: auto;
	width: 75%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.75);
}

table {
	color: white;
	width:100%;
}

.project_button  {
	padding: 30px;
	text-align: center;
	background-color: rgb(15, 15, 15);
}

.project_button:hover {
	background-color: rgb(0, 50, 100);
	cursor: pointer; 
	cursor: hand;
}

p {
	font-family: "Trebuchet MS";
	font-style: italic;
}


#display {
	text-align: center;
}

#display_screen {
	width: 300px;
	height: 200px;
	text-align: center;
}

.project_icon {
	width: 80px;
	height: 80px;
}

.project_screen {
	width: 320px;
	height: 180px;
}



